body {
    background-color: black;
    font-family:'Helvetica Neue' ,sans-serif;
    font-weight: 650;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}

.container {
    display: flex;
    justify-content: center;
    height: 260px;
    color: gray;
    list-style: none;
    width: 1000px;
    margin: 0 auto;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 150px;
}

.perfil_novo {
    background-color: rgba(108, 107, 107, 0.25);
    border-radius: 8px;
    width: 55%;
    padding: 35px;
}

.cards {
    width: 100%;
    border-radius: 8px;
}

.gerenciar {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    font-weight: 700;
}

footer {
    text-align: center;
}

.perfil:hover img {
    border: 1px solid white
}

.perfil:hover p {
    color: white;
}

.gerenciar:hover {
    background-color: rgba(255, 255, 255, 0.913);
    color: black;
}

.perfil_novo:hover {
    background-color: rgba(128, 128, 128, 0.312);
    border: 1px solid white
}